In [22]:
import numpy as np

In [23]:
import pandas as pd

In [50]:
#convert stata data to pandas
stata_data='~/Downloads/NSDUH-2014-DS0001-bndl-data-stata/NSDUH_2014.DTA'
df=pd.read_stata(stata_data)
t=df.shape[0]

In [131]:
df.groupby(['prdaypyr']).size()

prdaypyr
1                                                        260
2                                                        209
3                                                        186
4                                                         86
5                                                        138
6                                                         39
7                                                         33
8                                                         22
9                                                          6
10                                                        86
12                                                        30
13                                                         3
14                                                        12
15                                                        43
16                                                         3
18                                                         2
20                                                        25
21                                                         1
22                                                         2
24                                                         2
25                                                         6
28                                                         2
30                                                        38
31                                                         1
35                                                         2
40                                                         4
45                                                         2
50                                                         5
56                                                         1
60                                                         5
70                                                         1
75                                                         1
80                                                         1
90                                                         2
100                                                        2
140                                                        1
150                                                        1
155                                                        1
160                                                        2
200                                                        3
240                                                        1
250                                                        2
260                                                        1
320                                                        1
330                                                        1
365                                                        7
981 - NEVER USED PAIN RELIEVERS Logically assigned        68
985 - BAD DATA Logically assigned                         12
989 - LEGITIMATE SKIP Logically assigned                  17
991 - NEVER USED PAIN RELIEVERS                        47064
993 - DID NOT USE PAIN RELIEVERS IN THE PAST 12 MOS     5139
994 - DON T KNOW                                          38
997 - REFUSED                                             15
998 - BLANK                                              412
999 - LEGITIMATE SKIP                                   1224
dtype: int64

In [107]:
df['prdaypyr_c']=df['prdaypyr'].apply(lambda x : x if type(x) is int else 999)

In [129]:
bins = [0, 11, 51,365,999]
df['prdaypyr_cc']=pd.cut(df['prdaypyr_c'],bins)

In [130]:
df.groupby('prdaypyr_cc').size()

prdaypyr_cc
(0, 11]        1065
(11, 51]        183
(51, 365]        34
(365, 999]    53989
dtype: int64

In [116]:
df.groupby('prdaypyr_cc').size()

prdaypyr_cc
12        30
13         3
14        12
15        43
16         3
18         2
20        25
21         1
22         2
24         2
25         6
28         2
30        38
31         1
35         2
40         4
45         2
50         5
56         1
60         5
70         1
75         1
80         1
90         2
100        2
140        1
150        1
155        1
160        2
200        3
240        1
250        2
260        1
320        1
330        1
365        7
999    53989
lm      1065
dtype: int64