In [1]:
import pandas as pd

In [2]:
#convert stata data to pandas
stata_data='C:/Users/Ramin/Desktop/NSDUH_2017.DTA'
df=pd.read_stata(stata_data)
t=df.shape[0]

In [3]:
dfm=df[df['irsex']=='1 - Male']
tm=dfm.shape[0]
dff=df[df['irsex']=='2 - Female']
tf=dff.shape[0]

In [4]:
#Find Variables with a
for c in df.columns[0:100]:
    sm=dfm.groupby(c)[c].count()
    sf=dff.groupby(c)[c].count()
    dg=pd.DataFrame(dict(Male = sm, Female = sf)).reset_index()
    dg=dg[(dg.Female>tf/100) | (dg.Male>tm/100)]
    dg['Female/Male']=dg.Female/dg.Male
    if dg.shape[0]>0 and dg['Female/Male'].max()<1.5:
        continue    
    dgs=dg.sort_values('Female/Male',ascending=False).reset_index(drop=True)
    print(dgs)
    print('-----------------------------------------------')

Empty DataFrame
Columns: [index, Male, Female, Female/Male]
Index: []
-----------------------------------------------
                                          CIG30TPE   Male  Female  Female/Male
0                                 2 - Ultra Lights    195     314     1.610256
1                       91 - NEVER USED CIGARETTES  13034   15937     1.222725
2  93 - DID NOT USE CIGARETTES IN THE PAST 30 DAYS   8489    8529     1.004712
3                                       1 - Lights   1638    1644     1.003663
4                                      3 - Mediums    657     545     0.829528
5                                  4 - Full Flavor   2900    2139     0.737586
-----------------------------------------------
                                        alcyrtot  Male  Female  Female/Male
0                                              3   420     766     1.823810
1                                              4   331     569     1.719033
2                                              5   436     744     1.706422
3                                              6   240     401     1.670833
4                                              2   430     694     1.613953
5                                             10   383     565     1.475196
6                                             12   758    1068     1.408971
7                                             24   966    1230     1.273292
8                                             36   814     991     1.217445
9   993 - DID NOT USE ALCOHOL IN THE PAST 12 MOS  2869    3399     1.184733
10                                            48   690     770     1.115942
11                                             1   500     554     1.108000
12                      991 - NEVER USED ALCOHOL  7615    8100     1.063690
13                                            60   613     632     1.030995
14                                           120   330     337     1.021212
15                                            52  1208    1230     1.018212
16                                            72   288     284     0.986111
17                                           104  1528    1371     0.897251
18                                           156  1354    1106     0.816839
19                                           208   783     565     0.721584
20                                           260   719     484     0.673157
21                                           312   379     211     0.556728
-----------------------------------------------
                                       aldaypyr   Male  Female  Female/Male
0                                             3    408     754     1.848039
1                                             4    318     551     1.732704
2                                             5    429     729     1.699301
3                                             6    234     391     1.670940
4                                             2    413     683     1.653753
5                                            10    373     551     1.477212
6  993 - DID NOT USE ALCOHOL IN THE PAST 12 MOS   2869    3399     1.184733
7                                             1    498     552     1.108434
8                      991 - NEVER USED ALCOHOL   7615    8100     1.063690
9                         999 - LEGITIMATE SKIP  12001   11538     0.961420
-----------------------------------------------

In [22]:
df.groupby(["opinmyr","AD_MDEA9"]).count()["QUESTID2"]

opinmyr  AD_MDEA9
0 - No   1 - Has symptom                       4399.0
         2 - Does not have symptom             2365.0
         94 - DON T KNOW                         14.0
         97 - REFUSED                            16.0
         98 - OTHER MISSING/NOT APPLICABLE    33425.0
         99 - LEGITIMATE SKIP                 13264.0
1 - Yes  1 - Has symptom                        589.0
         2 - Does not have symptom              180.0
         94 - DON T KNOW                          1.0
         97 - REFUSED                             NaN
         98 - OTHER MISSING/NOT APPLICABLE     1565.0
         99 - LEGITIMATE SKIP                   458.0
Name: QUESTID2, dtype: float64

In [91]:
df_no_opiod=df[df['opinmyr']=='0 - No']
no_opiod=df_no_opiod.shape[0]
df_yes_opiod=df[df['opinmyr']=='1 - Yes']
yes_opiod=df_yes_opiod.shape[0]
print('Number of people have NOT misused opioid past year: ', no_opiod)
print('Number of people misused opioid past year: ', yes_opiod)

Number of people have NOT misused opioid past year:  53483
Number of people misused opioid past year:  2793

In [106]:
opiod_nomisuse=df_no_opiod.groupby("AD_MDEA9")["AD_MDEA9"].count()
opiod_misuse=df_yes_opiod.groupby("AD_MDEA9")["AD_MDEA9"].count()
dg=pd.DataFrame(dict(misuse = opiod_misuse, nomisuse = opiod_nomisuse))
dg=dg[(dg.misuse>yes_opiod/100) | (dg.nomisuse>no_opiod/100)]
dg['misuse/nomisuse']=dg.misuse/dg.nomisuse  
dgs=dg.sort_values('misuse/nomisuse',ascending=False)
dgs

                                   misuse  nomisuse  misuse/nomisuse
AD_MDEA9
1 - Has symptom                       589      4399         0.133894
2 - Does not have symptom             180      2365         0.076110
98 - OTHER MISSING/NOT APPLICABLE    1565     33425         0.046821
99 - LEGITIMATE SKIP                  458     13264         0.034530

In [120]:
# Find the proportions
p1 = dgs['misuse']['1 - Has symptom'] / dgs['misuse']['99 - LEGITIMATE SKIP']
p2 =dgs['nomisuse']['1 - Has symptom'] / dgs['nomisuse']['99 - LEGITIMATE SKIP']
print("The proportion of Has symptom to the LEGITIMATE SKIP WITH opiod misuse: ", p1)
print("The proportion of Has symptom to the LEGITIMATE SKIP WITHOUT opiod misuse: ", p2)

The proportion of Has symptom to the LEGITIMATE SKIP WITH opiod misuse:  1.2860262008733625
The proportion of Has symptom to the LEGITIMATE SKIP WITHOUT opiod misuse:  0.3316495778045838

In [121]:
dgs.index.names = ['Any Thoughts Or Plans Of Suicide in Adults']

In [122]:
dgs

                                   misuse  nomisuse  misuse/nomisuse
Date
1 - Has symptom                       589      4399         0.133894
2 - Does not have symptom             180      2365         0.076110
98 - OTHER MISSING/NOT APPLICABLE    1565     33425         0.046821
99 - LEGITIMATE SKIP                  458     13264         0.034530